# Node modules
node_modules/

# TypeScript build output
dist/
build/
/coverage
*.tsbuildinfo

# macos/window
.DS_Store        
Thumbs.db        

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Package manager files
package-lock.json
pnpm-lock.yaml